.username {
    position: absolute;
    right: 20px;
    top: 30px;
    font-weight: 700;
    font-size: 1em;
    font-weight: 600;
    background-color: rgba(13, 37, 255, 0.15);
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    i {
        margin-right: 5px;
        margin-top: -4px;
    }
}